@use '../base/variables' as v;
@use '../base/mixins' as m;
@use "sass:color";



.register {
    background: radial-gradient(v.$azulClaro, v.$azulOscuro);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__fondo {
        width: 1200px;
        height: auto;
        border-radius: 2.4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        @include m.tablet{
            background: radial-gradient(v.$azulClaro, v.$violeta);
        }
    }

    &__contenido {
        border: 1px solid v.$violeta;
        border-radius: 4.5rem;
        background: rgba(v.$violeta, 28%);
        -webkit-box-shadow: 5px 8px 11px -1px rgba(0, 0, 0, 0.51);
        -moz-box-shadow: 5px 8px 11px -1px rgba(0, 0, 0, 0.51);
        box-shadow: 5px 8px 11px -1px rgba(0, 0, 0, 0.51);
        padding: 2rem 0;
        &--interno{
            margin: 0 1rem 0 1rem;
            @include m.tablet{
                margin: 0 5rem 0 5rem;
            }
        }
        h3 {
            text-align: center;
            color: v.$blanco;
            margin: 3rem 0 0 0;
            font-size: 3.32rem;
        }
    }

    &__logo {
        img {
            width: 170px;
            height: auto;
            margin: 0 auto;
        }
    }

}

.boton-enviar{
    border-radius: 1rem;
    color: v.$blanco;
    font-family: v.$fuente-secundaria;
    font-weight: 700;
    background-color: v.$violeta;
    border: none;
    padding: 1rem 0 1rem 0;
    cursor: pointer;

    &:hover{
        background-color: color.adjust(v.$violeta, $lightness: -6%);
    }

}

.login__footer{
    p{
        text-align: center;
        color: v.$blanco;
    }
    .login__redes{
        display: flex;
        justify-content: space-between;

        button{
            border: none;
            border-radius: 1rem;
            background-color: v.$blanco;
            padding: 1rem 7rem;
            cursor: pointer;
        }
    }
}
